{% extends 'base.html.twig' %}

{% block title %}Hello PeluqueriaController!{% endblock %}




{% block body %}
    
    <link href="{{ asset('css/estiloIndex.css') }}" rel="stylesheet" />
    <div class="header">
        <h1>Peluqueria Nombre</h1>
        <h3>Hola: Nombre del usuario</h3>
        <div class="navegacionClientes">
            <p>Email: </p> <input type="text">
            <p>Contraseña: </p><input type="password">
            <button class"boton2">Iniciar sesión</button>
            <button class"boton1">Registrarse</button>
        </div>
    </div>
    

    
             
{% endblock %}
